<head>
	<style>


			#main{
				
				
					}

			#body {
					 background-image: url("./fondo.jpg");
					 margin: auto;
			}

			#main{
		
			width: 1200px; height: 950px; 
			padding-left: 1px; padding-right:  1px; padding-top : 10px; padding-bottom: : 1px;
			margin-left: 1px; margin-right: 1px; margin-top : 10px; margin-bottom: : 1px;	}
				
			#col1{
					
					width: 390px; height: 900px; 
					padding-left:25px; padding-right: 25px; padding-top : 25px; padding-bottom: : 25px;
					margin-left: 23px; margin-right: 23px; margin-top : 25px; margin-bottom: : 25px;
					float: left;}

			#col2{
					
					padding-left: 8px; padding-right:  8px; padding-top : 5px; padding-bottom: : 5px;
					margin-left: 8px; margin-right: 8px; margin-top : 8px; margin-bottom: : 8px;
					}

			#formulario_id{

					text-align: center;

					padding-top: 40px;
					
			}
				#seccion_artesvisuales{
							margin-top: 50px;
							margin-right: 50px;
							margin-left
							: 50px;
					
			}
			h2#nombreformu {

					text-align: center;
					color:#41a7b7;
					font-size: 36pt;
					padding-top: 35px; 
					

					
			}
			
			#datos_jugador{
					font-size: 18pt;
					 flex-wrap: wrap;
					align-content: center;
			}
			.opcion_formu {

					text-align: center;
					margin-bottom: 15px;
					margin-top: 15px;
					margin-left: 15px;
					margin-right: 15px;
					margin-bottom: 15px;
					margin-top: 15px;
					margin-left: 15px;
						color:#41a8b7;
				
					font-style: italic;
					font-size: 26pt;
				 
					
			}
			.menupreguntas li {
				width:  150 px;
				height:  50 px;
			}
			.opcionformu:hover{
				text-align: right;
				color: red;
				 perspective: 100px;
			}
			.opcionformu:hover{
				text-align: right;
				color: red;
				 perspective: 100px;
			}
			h1#datos_jugador {
				
				padding top: 1px ;
				
				color:#4a18b7;
				font-size: 22px;
				font-style: italic;
				text-align: center;
			}
				aside#contenedorinstrucciones {
				
				padding-top: 4px ;
				padding-right:  4px ;
				padding-left: 4px ;
				padding-bottom: : 4px ;
				color:#4a18b7;
				font-size: 15px;
				font-style: italic;
				text-align: center;
				float:right;
			}

			h2#msj_bienvenida {
				
				padding top: 1px ;
				
				color:#4a88b4;
				font-size: 20px;
				
				text-align: center;
			}
			div.preguntas_arte {
				color: black;
				font-size: 14pt;
				text-align: center;
				
				padding-top: 10px;
				padding-left:10px;
				padding-right:10px;
				padding-bottom:10px;
			}

			#arte_submitp1{
				margin-top: 30px;
				color: black;
				font-size: 20pt;
				font-weight: bold;
				background: #dbce7f;
			}
			#arte_submitp2{
				margin-top: 30px;
				color: black;
				font-size: 20pt;
				font-weight: bold;
				background: #dbce7f;
			}
			#arte_submitp3{
				margin-top: 30px;
				color: black;
				font-size: 20pt;
				font-weight: bold;
				background: #dbce7f;
			}
			#arte_submitp4{
				margin-top: 30px;
				color: black;
				font-size: 20pt;
				font-weight: bold;
				background: #dbce7f;
			}
			#arte_submitp5{
				margin-top: 30px;
				color: black;
				font-size: 20pt;
				font-weight: bold;
				background: #dbce7f;
			}
			.artepregunta4 img{
				width:120px;
				height: 120px;
				float:left;

			}
			.opcionesc
			.opcionescomienzo{
				
				margin-top:15px ;
				margin-left:  5px ;
				margin-bottom: 15px ;
				margin-right: 5px ;
				padding-top: 5px ;
				padding-right: : 5px ;
				padding-left:  5px ;
				padding-bottom:   5px ;
				background:#4288b4;
				display:inline;
				float:left;
				font-size: 20px;
				
				text-align: center;

			} 
			h2#titulo_arte{
				text-align: center;

				color:#4a88b4;
				opacity: 0.4;
				font-weight: bold;
			}
				ul.lista_preguntas li:hover{
						background: #2a5fb2;
			}
						
			}
				ul.lista_preguntas li{

						border: 3px solid red;
						font-size: 15pt;
						color:#1a18b7;
						text-align: center;
						
			}

			ul#menu li{
						border: 3px solid red;
						font-size: 25pt;
						color:#1a18b7;
						text-align: center;
						
			}
			ul#menu li:hover{
					
					background: #2a5fb2;
						
			}
			#titulo {padding-left: 25px;
					color : black;
					opacity: 0.2;}

				 .lista_preguntas li{
			 	font-size: 13 pt;
			 	border: 3 px solid red;
			 	float:left;
			 	width: 50px;
			 	height: 20px;
			 	padding: 3px;
			 	border: 2px solid green;
			 	margin-right: 5px;
			 	margin-left: 5px;
			 	text-align: center;
				 }

			  ul#menu li{
			 	font-size: 13 pt;
			 	border: 2 px solid red;
			 	float:left;
			 	margin:auto;
			 	border: 2px solid green;
			 	margin-right: 5px;
			 	margin-left: 5px;
			 	text-align: center;
				list-style-type: none;}

				strong#advertencia {
						font-size: 15pt;
					
					}
			.opcionformu {

			}
			p#puntaje_total {
				margin: auto;
				padding-top: 150px ;
				height: 200px;
				color:blue;
				font-size: 22px;
				text-align: center;
			}
			.preguntas_arte div{
			
			}
			section#seccion_musica {display:none;}
			section#seccion_arquitectura {display:none;}
			section#seccion_moda {display:none;}
			section#seccion_artesvisuales {display:none;}
			/**/
			div.preguntas_arte img{
				height:100px;
				width: 100px;
				border: 1px dotted green;	
			}
			.artepregunta_4 img{
				padding:auto;
				margin:auto;
			}
			.preguntas_arte{
				text align: center;
				color:  red;

			}
			ul#menu {
				display:none;
			}
			.formularios{

				}
			li#opcion1_bienvenida{
				display:none;
			}
			li#opcion2_bienvenida{
				display:none;
			}
			#puntaje div{border:2px solid red;
						padding:auto;
						margin:auto;
						color: green;
						}
		
	/*			div.preguntas#p1{
					color:green;
					background: #;
					
				}
				div.preguntas#p2{
					color:green;
					background: #;
				
					
				}
				div.preguntas#p3{
					color:green;
					background: #;
				
				}
				div.preguntas#p4{
					color:green;
					background: #a4f4c2;
				
				}
				div.preguntas#p5{
					color:green;
					background: #a4f4c2;
				
				}

 */			li#opcion1_bienvenida {
 					border-style: double;
 					border-color: 2px blue;
 }
 	li#opcion2_bienvenida {
 					border-style: double;
 					border-color: 2px purple;
 }
 			.seccion {
 			
 			}
 			h1#datos_jugador{
 				margin:auto;
 				padding:auto;
 				font-size: 14pt;
 				color:#6a78f4;
 			}
 			
 			
 						div.preguntas h2 {
					color: green;
					}

			.reglasdejuego {
				display: none;
			}

			.formularios {
							color: black;
							font-size: 8pt;
							font-style: italic;
							
							
							height:50px
					}	
		
			div.preguntas{
					color: black
					font-style: arial 9pt;
					text-align:center;}
			strong#advertencia {
				font-size: 7px;
				text-align: left;
			}
		
			#img {
				 width:250px;
  			height: 250px;
  			border: black 1px solid;    }
  	/*
  	margin-left: auto;
  	margin-right: auto;
  	background-color: lightblue;
  	background-image: url("verde.jpg");
  	background-position: right bottom;
  	background-repeat: no-repeat;
  	*/
 

			 

			 .listapreguntas li:hover{
			 	background: #fffac2;
				 }


		
			 #foto1 {
			 	height:250px;
			 	width:200px;
			 }


		</style>



		
</head>
